/* Color pallete

#08415C - blue
#CC2936 - red
#6B818C - grey
#F1BF98 - gold
#EEE5E9 - platinum
*/


/* Global styles
---------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1{
    font-size: 60px;
    margin-bottom: 10px;
}

h2{
    font-size: 40px;
    margin-bottom: 20px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    margin-bottom: -5px;
    margin-top: 35px;
}

a{
    color: #CC2936;
}

a:hover{
    text-decoration: none;
}

.content-wrap{
    max-height: width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

.column-narrow{
    width: 41%;
    float: left;
    min-height: 175px;
    margin-right: 50px;
    margin-left: 50px;
}

.column-wide{
    margin-top: 85px;
    width: 1050px;
    margin-left: 100px;
}


.wavy{
    font-family: 'Sedgwick Ave Display', cursive;
    margin-top: 10px;
}

/* Header and Footer
---------------------------*/
header,footer{
    
    background: #08415C;
    color: aliceblue;
}

/* Header */
header h1, header h2{
    color: aliceblue;
    max-width: 950px;
    margin-top: 15px;
}

.profile-img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 40px;
    margin-top: 45px;
    margin-left: 12px;
}

/* Footer */
footer{
    text-align: center;
}

.contact-info a {
    background: white;
    margin-top: 0px;
    padding: 10px;
    display: inline-block;
}

/* Navigation
---------------------------*/
nav {
    text-align: center;
    background: #ff9191;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: none;
    font-weight: 700;
    color: aliceblue;
}

nav a:hover{
    text-decoration: underline;
}


/* Work Experience
---------------------------*/
.work{
    
    background: #EEE5E9;
}



/* Education
---------------------------*/
.education{
    
    background: linear-gradient(rgba(141,153,174,0.8), rgba(141,153,174,0.8)),
        url(../images/View-of-Bratislava.jpg) no-repeat fixed;
    background-size: cover;
}
